body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  .squares {
    max-height: 80vh;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
    justify-content: center;
    max-width: 230px;
    .square {
      width: 16px;
      height: 16px;
      border: 1px solid #000;
    }
  }
  .black {
    background: #000;
  }
}
